@font-face {
  font-family: 'Montserrat-Alt1';
  src: url('/fonts/otf/MontserratAlt1-Regular.otf') format('opentype'),
       url('/fonts/otf/MontserratAlt1-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Montserrat-Alt1', sans-serif;
  font-weight: 400;

}
html, body {
  scroll-behavior: smooth;
}